<html lang="en">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />

    <title>Golater</title>
    <meta name="description" content="Golater">
    <meta name="author" content="dermasmid">
    <link rel="icon" type="image/png" href="static/images/favicon.jpg">
    <link rel="stylesheet" href='static/css/index.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courier Prime">


</head>

<body>

    <div class="main-container">
    <div class="banner">

    </div>
        <div class="search-container">
            <form id="search-form" role="search">
                <label for="search">Search for stuff</label>
                <input id="search" type="search" placeholder="Search..." autofocus required autocomplete="off" />
                <button id="search-button" type="submit">Go</button>
            </form>
        </div>
        <div class="menu", id="menu"></div>
        <div class="results-container" id="results-container">

        </div>
    </div>
    <script src="static/js/index.js"></script>
    <p class="me">Made by <a href="https://github.com/dermasmid" target="_blank">Cheskel</a>, a Lew Later fan.</p>
</body>

</html>