<html lang="en">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />

    <title>Searchtube</title>
    <meta name="description" content="Searchtube">
    <meta name="author" content="dermasmid">
    <link rel="icon" type="image/png" href="static/images/favicon.jpg">
    <link rel="stylesheet" href='static/css/index.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courier Prime">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <script src="static/js/jquery-3.6.0.min.js"></script> 
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/index.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

    <div class="main-container">
    <a class="github-button" href="https://github.com/dermasmid/searchtube" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-show-count="true" aria-label="Star dermasmid/searchtube on GitHub">
        Star
    </a>
    <div class="banner">

    </div>
        <div class="search-container">
            <form class="search-form" id="search-form" role="search">
                <input class="search" id="search" type="search" placeholder="Search..." autofocus required autocomplete="off" />
                {% if channels|length > 1 %}
                <select id="channel-select">
                    {% for channel in channels %}
                    <option value="{{ channel.channel_id }}">{{ channel.channel_name }}</option>
                    {% endfor %}
                </select>
                {%- endif %}
                <button class="search-submit" id="search-button" type="submit">Go</button>
            </form>
        </div>
        <div class="menu", id="menu"></div>
        <div class="results-container" id="results-container">

        </div>
    </div>
    <p class="me">Made by <a href="https://github.com/dermasmid" target="_blank">Cheskel</a>, a Lew Later fan.</p>
</body>

</html>