:root {
  --color-dark: #2f2f2f;
}

body {
  font-family: 'Courier Prime';
  background-color: #2e2f32;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.search-form > * {
  margin: 15px;
}

.search {
  font-family: 'Courier Prime';
  outline: 0;
  background: white;
  padding: 0 1.6rem;
  border-radius: 5px;
  appearance: none;
  height: 60px;
  width: 300px;
  font-size: 30px;
  border: none;
  box-shadow: 4px 4px 3px;
  margin: 30px;
}

.search-submit {
  height: 60px;
  box-shadow: 4px 4px 3px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier Prime';
  outline: 0;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}

.search-submit:hover {
  background-color: aquamarine;
}

.main-container .nice-select {
  line-height: 60px;
  font-size: 30px;
  height: 60px;
  box-shadow: 4px 4px 3px;
  border: none;
}

.main-container .nice-select .list {
  margin-top: 6px;
}

.menu {
  display: none;
  max-width: 40%;
  background: var(--color-dark);
  margin-top: 20px;
  border: 5px solid deepskyblue;
  border-radius: 15px;
  width: auto;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.number-of-results {
  color: deepskyblue;
  padding: 20px;
  font-size: 20;
}


.main-container {
    width: 70%;
    margin: auto;
}

.search-container {
    padding-top: 40px;
    margin: auto;
}

.iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.results-container {
    padding: 0;
    text-align: center;
}


.load-more-button {
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Courier Prime';
  color: black;
  background-color: aqua;
  border-radius: 10px;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-png {
  animation: rotation 1s infinite linear;
}


@media screen and  (max-width: 1000px) {
  .menu {
    max-width: 60%;
  }
  .main-container {
    width: 90%;
  }
  form {
    width: 90%;
  }
  .me , .twitter{
    font-size: inherit;
  }
}
